body{
  text-align: justify;
}


.card{
      
        overflow: hidden;
        cursor: pointer;
}

.card .row div:nth-child(1) {
  overflow: hidden;
  border-radius: 0%;
  
}
.card img{
  height: 200px;
  width: 370px;
  object-fit: cover;
 
 filter: brightness(0.5);
  
}
.card:hover img{
filter: brightness(1);
 
}
.card-title{
  font-weight: 700;
}
.overlay-background2{
  
  top:-8%;
  left: -2%;
  height: 90%;
  width: 90%;
  position:absolute;
  background-color: rgb(108, 184, 158);
  transition-duration: 0.5s;
}
 .about-image:hover .overlay-background2{
  top:+15%;
  left: +10%;
  transition-duration: 0.5s;
}
 img:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.about-image .overlay-background3{
  top:-10px;
  right: -10px;
  z-index: -1;
  height: 90%;
  width: 90%;
  background-color: rgb(72, 31, 105);
  transition-duration: 0.5s;
}
.about-image:hover .overlay-background3{
  top:15%;
right:10%;
}
@media screen and (min-width:768px) {

  .card {
    height: 180px;
    text-align: justify;
  }
  .card img{
    height: 100%;
    object-fit: cover;
  }
  .card .row{
    height: 100%;
  }
}

@media screen and (max-width:567px) {
  .card{
    height: 400px !important;
    text-align: justify !important;
  }
  .card img{
    width: 100%;
    object-fit: cover;
  }
  .card > div{

  }
}
@media screen and (max-width:768px) and (min-width:567px) {
  .card{
    height:350px;
  }
  .card img{
    width: 100%;
   
  }
}
@media screen and (min-width:768px) and (max-width:1000px) {

  .card {
    height:250px;
  }
}