#offcanvasNavbar {
  font-weight: 800;
}
header {
  position: relative;
}
header .progress-line {
  background: none transparent;
  height: 4px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 199;
}
nav.navbar {
}
.nav-item {
  margin-inline: 20px;
}

.modified-nav div {
  background-color: none !important;
}
header {
  height: 150px;
}
.logo {
  height: 40px;
  width: 40px;
  border-radius: 10px;
}
@media (min-width: 992px) {
  .prenav {
    color: #6b6e71;
    left: 0;
    padding: 20px 0;

    width: 100%;
  }
  nav.navbar {
    width: 100%;
    background-color: white;
    padding: 10px 0px;
    width: 95%;
    margin: auto;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 5px;
    position: fixed;
    top: 0px;
    left: 0px;

    z-index: 99;
    padding: 0px !important;
    transition-duration: 2s;
    min-height: 80px;
  }
  .modified-nav {
    transition-duration: 2s;
   
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  .nav-link {
  }
  nav.navbar > div {
  }
}
@media screen and (max-width: 992px) {
  nav.navbar {
    top: 0px !important;
    z-index: 99;
  }
}
