@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
@import url("header.css");
body {
  color: #0d1519;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-color: F1EFEF;
}

:root * {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
  --primary-color:green;
  --secondary-color: black;
}

.primary-colour {
  color: var(--primary-color) !important;
}
.primary-colour:hover {
  background-color: black !;
  color: white !;
}
hr.section-divider {
  color: white;
  background-color: white;
  margin: 40px 0px;
}

/* progressbar */

.progress {
  height: 3px;
  width: 0%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  animation: progress 1s linear;
}
@keyframes progress {
  to {
    background-color: rgb(20, 255, 226);
    width: 100%;
  }
}
.hover-outline {
  position: relative;
}
.hover-outline::after {
  content: "";
  width: 0px;
  height: 0px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition-duration: 0.5s;
}
.hover-outline:hover::after {
  height: 3.5px;
  width: 100% !important;
  transition-duration: 0.5;
}
.hover-outline button {
  border: none;
  background-color: white;
  width: 100%;
  font-size: 20px;
  font-weight: 800;
}

.main-background {
  background-image: url("https://img.freepik.com/premium-photo/businessman-analyzing-company-financial-report-with-augmented-reality-graphics_34141-360.jpg?w=826");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
  filter: brightness(0.5);
  opacity: 1;
  animation: fadeHeader 7s ease-in-out;
}
@keyframes fadeHeader {
  0% {
    filter: blur(50px) brightness(0.4);
    opacity: 0.4;
    transform: scale(1.05);
  }
}
.fa {
  cursor: pointer;
}
a {
  text-decoration: none !important;
}
.social-icons li {
  margin-inline: 5px;
}
div {
  border-radius: 20px !important;
}
/* herosection */
img {
  max-width: 100%;
}
section {
}
.hero-section {
  margin-bottom: 120px;
}

#joinus .row:nth-child(2) .hover-class {
  height: 300px;
}
.card {
  height: 400px;
}
.card img {
  height: 250px;
  object-fit: cover;
}
.hover-class,
.card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  overflow: hidden;
}

.hover-class:hover,
.card:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.job-offer-cards {
  /* display: flex;
justify-content: space-between; */
}
.job-offer-cards > div {
  /* width: 48%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column; */
}

.insights .card {
  width: 100% !important;
  height: 400px;
  overflow: hidden;
}
.insights .card img {
  height: 100%;
}
.card-img-overlay {
  background-color: white;
  position: absolute;
  /* top: 0; */
  border-radius: 0px !important;
  height: 25%;
  top: 75%;
  padding: 10px;
  left: 0px;
  width: 90%;
  transition-duration: 1s;
  border-radius: 20px !important;
}
.card-img-overlay:hover {
  width: 100%;
  top: 70%;
  height: 30%;
  transition-duration: 1s;
}

footer {
  background-color: black !important;
  color: white !important;
}
footer a {
  color: white !important;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--primary-color); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 60%; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  width: 50px;
}

#myBtn:hover {
  background-color: var(
    --secondary-color
  ); /* Add a dark-grey background on hover */
}
.othercards .card {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.ourteamrow .card{
  height: 470px;
  
}
/* desktop view */
@media (min-width: 992px) {
  .headlines-card .card:nth-child(n) {
    height: 500px;
  }
  .headlines-card .firstcard {
    flex-direction: row !important;
  }
  
  header{
    height: 180px;
  }
  .hero-section {
    margin-top: 120px;
  }
}

/* mobile and tab view */
@media screen and (max-width: 992px) {
  .main-background{
    height: 70vh;
  }
  .container {
    width: 90% !important;
    margin: auto !important;
  }
  .container-fluid {
    width: 100% !important;
 
    margin: auto !important;
  }
  
  header{
    height: 80px;
  }
  .hero-section {
    margin-top: 100px;
  }
  .firstcard img{
    width: 100% !important ;
    height: 50% !important;
    object-fit: cover;
  }
  .headlines-card .card:nth-child(n) {
    height: max-content
  }
}
